body {
  max-width: 1920px;
  margin: auto;
  font-family: "Inter", sans-serif;
}

.top-header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
}

.top-header .name {
  font-size: 26px;
}

.nav ul {
  display: flex;
  list-style-type: none;
  font-size: 14px;
  margin-bottom: 0;
}

.nav li {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.nav a {
  text-decoration: none;
  color: #000;
}

.social-link img {
  width: 20px;
}

#about {
  display: flex;
  background-color: #f6d2b8;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.picture.left::before {
  content: " ";
  background-color: #e5975f;
  width: 374px;
  height: 329px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.picture {
  flex: 1;
  margin: 0 20px;
  z-index: 0;
}

.picture img {
  max-width: 100%;
}
#about-me {
  flex: 2;
}

.about-me__title {
  margin-top: 1em;
  margin-bottom: 60px;
  font-size: 30px;
}

.about-me__introduction {
  font-family: "Spectral";
  font-weight: 800;
  font-style: italic;
  width: 60%;
}

#about-me p {
  width: 80%;
  font-size: 14px;
}

.title {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.gallery {
  display: none;
}

.gallery .nav {
  justify-content: center;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #beb45a;
  border-radius: 0;
}

.nav-pills .nav-link {
  color: #000;
}

.item-column {
  position: relative;
  margin-bottom: 0 !important;
  padding: 0;
}

.item-column::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.gallery-item {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0.5em;
}

.mg-prev,
.mg-next {
  width: 30px;
  height: 30px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 24px;
}

.quote {
  font-family: "Spectral";
  font-style: italic;
  width: 70%;
  margin: auto;
  padding-top: 3em;
  padding-bottom: 3em;
}

.quote__text,
.quote__author {
  font-family: "Spectral";
  font-style: italic;
}

.quote__text {
  font-weight: 300;
}

.quote__author {
  font-weight: 800;
  font-size: 22px;
}

#services {
  margin: auto;
  background-color: #a8d5d8;
  position: relative;
}

#services .container::before {
  content: " ";
  background-color: #1c6474;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  z-index: 0;
}

#services .container {
  justify-content: space-between;
  display: flex;
  padding: 2em 0;
}

.service {
  background-color: white;
  max-width: 390px;
  width: 30%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

#contact {
  margin: auto;
  background-color: #d8d3a8;
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

#contact .container {
  display: flex;
}

.picture.right::before {
  content: " ";
  background-color: #beb45a;
  width: 374px;
  height: 329px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.form-container {
  flex: 2;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: flex-start;
}

form input {
  width: 100%;
  background-color: transparent;
  border: solid 1px;
  height: 2.5em;
  margin-bottom: 20px;
}

form textarea {
  width: 100%;
  background-color: transparent;
  border: solid 1px;
  height: 5em;
  line-height: 2.5em;
  font-size: 1.2em;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #beb45a;
  padding: 0.5em 1em;
}

@media (max-width: 1180px) {
  .picture {
    flex: 2;
  }
  #about,
  #contact .container {
    align-items: center;
  }
  .about-me__title {
    margin-top: 0;
    margin-bottom: 1em;
  }
  #about-me h6,
  #about-me p {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .gallery-item {
    width: 60%;
    height: 60%;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }
}
